<div class="messages ">
	<div style="@include outer-container">
	<%= simple_form_for(@message) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
		<%#= f.input :title %>
        <div class="field" id="contacts">
			<%= f.association :contact, 
		  		collection: @contacts,
                include_blank: true,
                input_html: { class: 'chosen-select' }, 
				prompt: 'Select Contact' %>
		</div>
		<div class="field">
		  <%= f.input :message_script_id, 
		  		collection: @message_templates,
                include_blank: true,
                input_html: { class: 'chosen-select' }, 
				prompt: 'Select Message Script',
				label: 'Choose a Pre-Written Script' %>
		  
		</div>
		<div class="field">
		<%= f.input :dispatched_at, 
					min: Time.zone.today,
					start_year: Time.zone.now.year, 
					ampm: true, 
					class: "form-control"  %>
		</div>

	    <div class="field">			
			<%= f.input :body, as: :text, 
			label: 'Message Body' %>
		</div>
	  </div>



	  <div class="form-actions">
	    <%#= f.button :submit %>
	    <%= f.button :submit, class: 'btn-primary' %>
	    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger' %>
	  </div>
	<% end %>
	</div>
</div>
