<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @milestone.contact.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @milestone.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', contact_path(@milestone.contact) %>
