<%= simple_form_for (@roster) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, :hint => '(The title of your contact roster)' %>
  <%#= render "accordion_tabs_minimal.html.erb"%>
  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Contacts</a>
      <div class="tab-content">
		  <%= f.simple_fields_for :roster_contacts do |roster_contact| %>
          	<%= render 'roster_contact_fields', :f => roster_contact %>
		  <% end %>
	      <%= link_to_add_association 'add a contact', f, :roster_contacts %>	
      </div>
    </li>

  </ul>
  <%= f.button :submit, :disable_with => 'Please wait ...' %>
  
<% end %>
<!-- -->
