	<%= render partial: "refills/device" %>
	
	<p><%= link_to "Sign in", new_user_session_path %></p>
	
	<p><%= link_to "Contacts", contacts_path %></p>
	<p><%= link_to "Send Text", new_message_path %></p>
	<p><%= link_to "Add Contact", new_contact_path %></p>
	<p></p>
