<%= simple_form_for @contact, html: { multipart: true }  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
  </div>

  <div class="form-inputs">
    <%= f.input :last_name %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :primary_phone %>
  </div>

  <div class='field'>
	  <% tags = ActsAsTaggableOn::Tag.all.where('basic = ?', true).order(:name) %>
	  <%= f.input :tag_list,
                     as: :select,
					 collection: tags,
                     label_method: :name,
                     value_method: :name,
					 include_blank: false,
	                 input_html: { class: 'chosen-select', multiple: true },
                     label: 'Contact Group Tags' %>
  </div>

  <div class="form-inputs">
	<%= f.input :primary_phone_kind, 
			collection: [ "Mobile", "Home", "Work"], 
	  		
	        include_blank: true,
	        input_html: { class: 'chosen-select' }, 
			prompt: 'Select type of Phone' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
