<h1 id="contacts">Contacts <%=  " - #{@tag_name}" if @tag_name.to_s.length > 0  %></h1>
<style type="text/css" media="screen">
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
</style>
<p id="notice"><%= notice %></p>


	<div class="centered-buttons">
		<p><%= button_to "Add New", new_contact_path, method: "get", class: "add-contact button" %></p>
		<p>&nbsp;</p>
		<p><%= button_to "All Contacts", contacts_path, method: "get", class: "contacts button"  %></p>
		<p>&nbsp;</p>
	    <% current_user.contacts.tag_counts_on(:tags).each do |tag| %>
			<%= button_to "#{tag.name}", tag_path(tag.name), method: "get", class: "button" %>
		<p>&nbsp;</p>
		
		<% end %>
	</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to "#{contact.first_name} #{contact.last_name}", contact %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

