<%= simple_form_for(@broadcast) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div class='field'>
	  <% tags = ActsAsTaggableOn::Tag.all.where('basic = ?', true).order(:name) %>
	  <%= f.input :tag_list,
                     as: :select,
					 collection: tags,
                     label_method: :name,
                     value_method: :name,
					 include_blank: false,
	                 input_html: { class: 'chosen-select', multiple: true },
                     label: 'Contact Tags' %>
  </div>
	  
	<div class="field">
	  <%= f.input :message_script_id, 
	  		collection: @message_templates,
              include_blank: true,
              input_html: { class: 'chosen-select' }, 
			prompt: 'Select Message Script',
			label: 'Choose a Pre-Written Script' %>
	</div>
	<label>-- OR write your custom message--</label>
    <%= f.input :message_title %>
	
		<%= f.input :dispatched_at, 
					min: Time.zone.today,
					start_year: Time.zone.now.year, 
					ampm: true, 
					class: "form-control"  %>
		</div>
	
    <%= f.input :message_body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Broadcast Message to Group" %>
  </div>
  
<% end %>

