<%= simple_form_for(@broadcast) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :roster, 
	collection: Roster.order(:title),
      include_blank: true,
      input_html: { class: 'chosen-select' }, 
	prompt: 'Select a Roster',
	label: 'Roster' %>

	<div class="field">
	  <%= f.input :message_script_id, 
	  		collection: @message_templates,
              include_blank: true,
              input_html: { class: 'chosen-select' }, 
			prompt: 'Select Message Script',
			label: 'Choose a Pre-Written Script' %>
	</div>
	<label>-- OR write your custom message--</label>
    <%= f.input :message_title %>
	
		<%= f.input :dispatched_at, 
					min: Time.zone.today,
					start_year: Time.zone.now.year, 
					ampm: true, 
					class: "form-control"  %>
		</div>
	
    <%= f.input :message_body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>

