<p id="notice"><%= notice %></p>

<h1>Broadcasts</h1>

<table>
  <thead>
    <tr>
      <th>Groups</th>
      <th>Message body</th>
      <th>Message title</th>
      <th>Message script</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @broadcasts.each do |broadcast| %>
      <tr>
        <td> <%= raw(broadcast.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %><%#= broadcast.roster.title %></td>
        <td><%= broadcast.message_body %></td>
        <td><%= broadcast.message_title %></td>
        <td><%= broadcast.message_script.title if broadcast.message_script %></td>
        <td><%= link_to 'Show', broadcast %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Broadcast', new_broadcast_path %>
