<p id="notice"><%= notice %></p>

<h1>Broadcasts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Roster</th>
      <th>Message body</th>
      <th>Message title</th>
      <th>Message script</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @broadcasts.each do |broadcast| %>
      <tr>
        <td><%= broadcast.user %></td>
        <td><%= broadcast.roster %></td>
        <td><%= broadcast.message_body %></td>
        <td><%= broadcast.message_title %></td>
        <td><%= broadcast.message_script %></td>
        <td><%= link_to 'Show', broadcast %></td>
        <td><%= link_to 'Edit', edit_broadcast_path(broadcast) %></td>
        <td><%= link_to 'Destroy', broadcast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Broadcast', new_broadcast_path %>
