<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @broadcast.user.email %>
</p>

<p>
  <strong>Groups:</strong><%= raw(@broadcast.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
  
</p>

<p>
  <strong>Message body:</strong>
  <%= @broadcast.message_body %>
</p>

<p>
  <strong>Message title:</strong>
  <%= @broadcast.message_title %>
</p>

<p>
  <strong>Message script:</strong>
  <%= @broadcast.message_script.title if @broadcast.message_script %>
</p>

<%= link_to 'Back to Rosters', rosters_path %>
