<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/', 'data-turbolinks-track' => true %>
  <%= tag :meta, name: "stripe-key", content: ENV["STRIPE_PUBLISHABLE_KEY"] %>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>" >
  <%= render "flashes" -%>
  <%#= render "/shared/navigation" %>
  <%= render 'refills/centered_navigation' %>
<p>&nbsp;</p> 
	
<div class="main-content">
  <%= yield %>	
</div>	 

<p>&nbsp;</p> 	
  <%= render 'refills/footer' %>


  


<!--test finish -->
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
