<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>" >
  <%= render "flashes" -%>
  <%#= render "/shared/navigation" %>
  <%= render 'refills/centered_navigation' %>
<p>&nbsp;</p> 
	
<div class="main-content">
  <%= yield %>	
</div>	 

<p>&nbsp;</p> 	
  <%= render 'refills/footer' %>


  


 <button id="tw_schedule_btn" style="padding: 4px 6px; position: absolute; left: 141px; top: 840px; background: transparent linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240)) repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); color: rgb(95, 95, 95); cursor: pointer; font-weight: bold; text-shadow: 0px 1px rgb(255, 255, 255); white-space: nowrap; border-radius: 3px; font-size: 11px; z-index: 8675309; display: none;"><em style="background-image: url(&quot;https://www.tailwindapp.com/app/extensions/Tailwind_swoosh.png&quot;); width: 16px; height: 16px; margin-top: -4px; display: inline-block; position: relative; vertical-align: middle; background-size: 16px auto;" id="schedule-button-logo"></em><span>Schedule</span></button>
<!--test finish -->
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
